# Auto detect text files and perform LF normalization
# * text=auto


 API Keys#
.env

# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/

# Logs
*.log
control_log.txt

# Database
*.db
*.sqlite3

# VS Code
.vscode/